__pycache__/
__pycache__/console.cpython-39.pyc
__pycache__/diagnostics.cpython-39.pyc
__pycache__/gui.cpython-39.pyc
__pycache__/gui.cpython-39.pyc
/__pycache__
*.pyc
.vscode/settings.json
AGENTS.md
